@import "./base.css";

/* 
  This file contains the global styling that is used in multiple components
*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background);
  color: var(--foreground);
  width: 100%;
  height: 100%;
}

#id {
  height: 100%;
}
